<% @articles.each do |article| %>
<h1><%= article["headline"] %></h1>
<p class="summary"><%= article["summary"] %></p>
<p class="author">by <a href="/authors/<%= article["auth_id"] %>"><%= article["author_name"] %></a></p>
<div class="article-body">
	<%= markdown(article["body"]) %>
</div>
<% if article["last_updated"] %>
	<p>Last updated: <%= article["last_updated"] %></p>
<% end %>
<p class="time">Created: <%= article["created_at"] %></p>
<p>Category: <a href="/categories/<%= article["id"] %>"><%= article["name"] %></a></p>
<a class="button button-primary" href="/articles/<%= article["art_id"] %>/edit">Edit Article</a>
<form class="inline-block" action="/articles/<%= article["art_id"] %>" method="POST">
	<input name="_method" type="hidden" value="DELETE">
	<input type="submit" value="Delete Article">
</form>
<% end %>