<h1>Individual Article Page</h1>

<% @articles.each do |article| %>
<h1><%= article["headline"] %></h1>
<h3><%= article["summary"] %></h3>
<p><%= article["body"] %></p>
<h3>Author: <%= article["author_name"] %></h3>
<p>Last updated: <%= article["last_updated"] %></p>
<p>Created: <%= article["created_at"] %></p>
<p>Category: <%= article["name"] %></p>
<a href="/articles/<%= article["art_id"] %>/edit">Edit Article</a><br>
<% end %>

<a href="/">Home</a><br>
<a href="/articles">Articles Page</a><br>
<a href="/categories">Categories Page</a>