<img src="<%= @no_author.first["image"] %>">
<h1><%= @no_author.first["name"] %></h1>
<h2><%= @no_author.first["position"] %></h2>
<p><%= @no_author.first["email"] %></p>
<% @author.each do |article| %>
		<div class="entry"><a href="/articles/<%= article["art_id"] %>"><%= article["headline"] %></a></div>
<% end %>

