<h1>Browse by Authors</h1>
<% @authors.each do |author| %>
<div class="entry clearfix">
	<a href="/authors/<%= author["id"] %>">
	<img class="avatar" src="<%= author["image"] %>">
	</a>
	<div class="bio">
			<div class="author">
				<a href="/authors/<%= author["id"] %>"><%= author["name"] %></a>
			</div>
			<%= author["position"] %>
	</div>
</div>
<% end %>
